.todo {
    border: 1px solid lightgray;
    padding: 0.5rem;
    width: fit-content;
    border-radius: 8px;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.5s ease;
}

.completed {
    background-color: aqua;
}

.completed:hover {
    background-color: #02c9c9;
    border-radius: 16px;
}

.upcoming {
    background-color: lightcoral;
}

.upcoming:hover{
    background-color: #c05050;
    border-radius: 16px;
}